nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mainNav {
  display: flex;
  flex-direction: row;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.bookCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.progress {
  display: flex;
  flex-direction: row;
}
